body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    background-color: #ddd;
    color: black;
  }
  
  form {
    max-width: 300px;
    margin: auto;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
    color: black;
  }
  
  h1 {
    text-align: center;
  }