body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #282c34;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #282c34;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #61dafb;
  outline: none;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.image-preview {
  text-align: center;
  margin-bottom: 20px;
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox-group label {
  display: flex;
  font-weight: normal;
  margin-bottom: 0;
  margin-right: 80%;
}

.checkbox-group input {
  margin-right: 5px;
}

.btn {
  padding: 10px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  background-color: #21a1f1;
}