.feed-container {
  padding: 20px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.user-info span {
  font-weight: bold;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.filter-input::placeholder {
  color: #aaa;
}
.feed-container {

  position: relative; 
}

.username-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff; 
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  color: #333; 
}