.post-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .post-container:hover {
    transform: scale(1.02);
  }
  
  .post-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .post-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .post-content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .post-detail {
    font-size: 1em;
    color: #333;
  }
  
  .post-detail strong {
    color: #007bff;
  }
  
  .post-image {
    margin-top: 20px;
    text-align: center;
  }
  
  .post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }